// Import elementi generici, tabelle, liste, alert e altre componenti generiche


// fieldset 
fieldset {
  border: none
}

// input text
.uppercase-input input{
  text-transform: uppercase;
}

// LISTE 

ul {
  padding: $space-0;
  margin: $space-0;
  list-style-type:none;
  // @extend %vertical-divider;
  li {
    // @extend .py-5;
    border:0 none;
    &.md-list-item {
      &.md-menu-item {
        padding: $space-0;
      }
    }
  }
  &.border-list {
    li{
      border-top:1px solid $tertiary;
      &:first-child {
        border-top:0 none;
      }  
      &:last-child {
        border-bottom:1px solid $tertiary;
  
      }  
    }
  }
}
.important-list {
  // @extend .font-weight-bold;
  li{
    // @extend .py-0;
    line-height: 1.5em;
    &::before {
      content: "\2022";
      color: $secondary-blue;
      font-weight: bold;
      width: 1em;
      margin-left: -1em;
      vertical-align: top;      
      position: relative;
      top: 0px;

       @extend .rfs-30;
      // @extend .d-inline-block;
    }
  }
}
.dl-inline-header {
  // @extend .row;
  // @extend .no-gutters;
  min-height:80px;
  img {
    max-height:80px;
  }
  dl {
    dt {
      font-weight:$font-weight-normal;
       @extend .rfs-18;
    }
    dd {
      font-weight:$font-weight-bold;
       @extend .rfs-24;
    }
  }
  
}

.dl-important-data-up {

  // @extend .data-up;
  // @extend .dl-inline-header;
  text-align: center;
  width: 100%;
  display: block;
  // @extend .my-6;
}
.data-up {
  dl {
    display: flex;
    flex-direction:column-reverse;
    margin-left: auto;
    margin-right: auto;
    // @extend .mx-md-0;

    &.data-empty {
      display: none;
      // @extend .d-sm-flex;
    }
    /* dd {
      @extend .h1;
    }*/
  }
  .block-slash {
    display: flex;
    // @extend .d-lg-flex;
  }
}

// reset arrow select

.custom-select {
  background-image:none;
  padding: $space-2;
  height:auto;
}




// TABELLE 
/*.riepilogo-dettagli {
  & > tr {
    th {
      @extend .align-top;
    }
  }
}*/
table {
  td,
  th {
    padding: $space-3;
  }
  th {
    font-weight:$font-weight-base;
  }
  margin-bottom: $space-6
}
.table {
  @media (max-width: 991.98px) {
    table-layout: fixed;
    word-break: break-word;
  }
  th,
  td {
    border-color:$tertiary;
  }
  tr:first-child {
    th,
    td {
      border-top:0 none;
    }  
  }
  tr:last-child {
    th,
    td {
      border-bottom:1px solid $tertiary;
    }  
  }
  
  &.table-row {
    tr {
      th {
        padding-left: $space-0;
      }
      td {
        padding-right: $space-0;
      }
    }
  }
}

h2 + .table-row{
  margin-top: -$space-5;
}

// LIST

.list-group{
  .list-group-item{
    border:0 none;
    padding: $space-0;
    // @extend .bg-transparent;
  }
}

// VALIDATION
.custom-checkbox .custom-control-label,
.custom-control-input.is-valid ~ .custom-control-label{
  color:$black;
  &::before{
    border-color:$tertiary;
    border-radius:0;
  }
}

div.error{
  color:$red;
  //font-size:14px;
  justify-content:left;
}
/* ul.error-messages{
  @extend .reset-all-space;
} */

// form control
/*.form-control{
  & + .error{
    @extend .mt-n5;
  }
}*/
.form-control,
.custom-radio{ 
  & + .error,
  & + .error + .error {
    font-size:$font-size-notes;
  }
}

// validazione standard bootstrap
.was-validated .form-control:invalid,
.was-validated .custom-select:invalid,  
.was-validated .form-control:valid, 
.was-validated .custom-select:valid, 
.form-control.is-invalid,
.form-control.is-valid,
.custom-select.is-valid,
.custom-select.is-invalid{
  background-image:none;
  border-width: 2px;
}
.form-control,
.custom-select{
  &.is-invalid,
  &.is-invalid:focus{
    border-color:$red;
  }
  &.is-valid,
  &.is-valid:focus{
    border-color:$green;
  }
}
// fine validazione informativa privacy

// MODAL
.modal-content{
  border-radius:12px;
  .modal-header{
    justify-content:inherit;
    border-bottom:0px;
    flex-direction:column;
    padding: $space-3;
    h5{
      order:2;
      padding-top: $space-2;
    }
    // @extend .col-12;
    .close{
      // @extend .h1;

      float:left;

      // @extend .reset-all-space;
      color:$secondary;
      opacity:1;

    }
  }
  .modal-body{
    img{
      @media (max-width: 767.98px){
        width:100%;
      }
    }
  }
  .modalSatisfaction {
    position: relative;
    overflow: hidden;
    padding-top: 80vh;
    
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}

// SPINNER POSITION
.vld-overlay .vld-icon, .vld-parent {
    position: fixed;
    top: 50%;
    margin-top: -75px;
}
// AREA PERSONALE
.tab-transparent{
  .areapersonale--tab {
    .v-tabs-bar {
      background-color: transparent!important;
      border-bottom: 1px solid #E2E2E2;
    }
    .v-tabs-slider-wrapper {
      height: 4px!important;
    }
    .v-slide-group__wrapper{
      background: #F0F3F8;
    }
    .v-tab {
      @include font-size(20px);
      font-weight: $font-weight-bold;
      @media all and (min-width: 990px) {
        min-width: 224px;
      }
      text-transform: capitalize;
      &:not(.v-tab--active) {
        color: $black!important;
        i {
          color: $black!important;
        }
      }
    }
  }
  .theme--light.v-tabs-items {
    background-color:#F0F3F8;
  }

  &.areaPersonale--page {

    h3 {
      @include font-size(24px);
    }
    .mydata--card {
      min-height: auto;
    }
  }
}
/*
.spinner {
  -webkit-box-shadow: 0px 0px 31px -5px rgba($black, .075);
  -moz-box-shadow: 0px 0px 31px -5px rgba($black ,0.075);
  box-shadow: 0px 0px 31px -5px rgba($black, 0.075); 
  border: 3px solid $secondary;
  background-color: rgba(256, 256, 256, 0.5);

}*/

// elenchi testuali senza list-item nè padding tipico delle 

ul.textual,
ul.textual.important-list {

  // @extend .list-unstyled;

  li {

    padding: $space-0;
 

    a{
      font-size: 14px;
    }

    @media all and (max-width: 767px) {
      a {
        font-size: 16px;
      }
    }
    &:before {

      content:"";

    }
  }

}

* + ul.textual,
* + ul.textual.important-list {

  padding-top: $space-2;
  li {

    a,
    p{
      @include font-size(14px);
    }
    
  }

}

#backButton, #homeBtn {
  &.v-btn {
    &.v-size--default {
      &.v-btn--router {
        min-width: 150px!important;
        height: auto;

      }
    }
  }  
}

.btn--large-resp {
  @media (max-width: 400px) {
    .v-btn__content {
      white-space: break-spaces;
      max-width: 200px;
      margin-bottom: $space-2;
    }
  }
}