// Import elementi header
.sp-header {
  #main-menu {
    z-index: 1001;

    .main-burger-menu,
    .logo-header,
    #btnLogin {
      &:focus {
        outline-style: solid;
        outline-color: $white;
        outline-width: 1px;
      }

      .img-logo-header {
        width: 180px;

        @media (min-width: 476px) {
          width: 212px;
        }
      }
    }

    .v-toolbar__content {
      margin: auto;
      padding-left: 8px;
      padding-right: 8px;

      @media (min-width: 960px) {
        max-width: 900px;
      }

      @media (min-width: 1264px) {
        max-width: 1185px;
      }

      @media only screen and (min-width: 576px) {
        max-width: 540px !important;
      }

      @media only screen and (min-width: 768px) {
        max-width: 720px !important;
      }

      @media only screen and (min-width: 992px) {
        max-width: 960px !important;
      }

      @media only screen and (min-width: 1200px) {
        max-width: 1140px !important;
      }

      @media only screen and (min-width: 1440px) {
        max-width: 1440px !important;
      }

      .v-app-bar__nav-icon {
        margin-left: 0px;
        margin-right: $space-4;
        height: 2.4em;
        width: 2.4em;
        min-height: auto !important;
      }
    }

    .btn-Login {
      background-color: $white !important;
      border: 2px solid $white !important;
      color: $blue-button !important;
      width: auto !important;
      min-width: 50px !important;

      @media only screen and (min-width: 768px) {
        min-width: 100px !important;
      }

      min-height: 35px !important;

      @media (min-width: 569px) {
        //margin-right: $space-6;
      }

      &::before {
        display: none;
      }

      &:hover {
        background-color: transparent !important;

        .text-loginBtn {
          color: $white !important;
        }

        .v-icon {
          color: $white !important;
        }
      }

      .img_loginBtn {
        @media (min-width: 569px) {
          margin-right: $space-1;
        }
      }


    }

    .notifyIcon {
      .v-btn {
        min-width: auto !important;
      }

    }

    .userInfo {
      .loginBtnMenu {
        background-color: $white;
        color: $blue-button;
        font-size: 15px;
        // @media (max-width: 569px){
        //   margin-right: $space-3;
        // }
      }
    }
  }
  #menu-list-notify {
    z-index: 1001;

    .title-main-menu {
      height: 40px;
      padding-top: $space-2;
      padding-left: 16px;
      color: $black;
      margin-bottom: $space-6;

      h2 {
        padding: $space-0;
        border: none;
      }
    }
    .notify-list {
      &.single-notify {
        padding: 15px;
        margin: 5px 0px;
        border-top: 1px solid #D5D5D5;

        &:last-child {
          border-bottom: 1px solid #D5D5D5;
        }

        h3 {
          @include font-size(14px);
          margin-bottom: 15px;
        }

        .tagName {
          background-color: #BFDDF2;
          border-radius: 5px;
          padding: 3px 14px;
          max-width: max-content;
          margin-bottom: 15px;
          color: $black;
        }

        .body-message {
          @include font-size(12px);
        }

        .subtitle-date-vuetify {
          @include font-size(11px);
          color: $black;
        }
        .read-moreLessBtn {
          min-width: fit-content!important;
          max-width: fit-content!important;
          text-transform: none;
          .v-btn__content {
            @include font-size(14px);
            font-weight: $font-weight-bold;
          }
          
        }
      }

      &.notify--notread {
        background-color: rgba(34, 151, 252, .05);
      }

    }


  }



  #main-menu-list {
    z-index: 1001;
    .title-main-menu {
      height: 40px;
      padding-top: $space-2;
      padding-left: 16px;
      color: $primary;
      h2 {
        padding: $space-0;
        padding: $space-0;
        border: none;
      }
    }
    
    .main-menu-left-offcanvas {
      min-height: calc(100vh - 160px);
      &.v-list  {
        padding-left: 16px;
        .v-list-item--active {
          &::before {
            opacity: 0;
          }
        }
        .cursor-pointer-off {
          cursor: default;
        }
      }
    }
    
    .footer-main-menu {
      min-height: 120px;
      background:$primary url(../images/loghi/piemonte/piemonteTu_logo.svg) 10% 50% no-repeat;
      background-size: 200px auto;
      display: flex;
      align-items: center;
      .link-piemonte-tu {
        color: $white;
        font-size: 16px;
      }
    }
  }

}

.logOutBtnCard {
  width: 184px;

  .v-card__actions {
    padding: 5px 10px;
  }

  .btnLogout {
    color: $blue-button;
    @extend .rfs-14;

    .v-btn__content {
      text-align: left !important;
      justify-content: start;
    }
  }
}

.v-navigation-drawer.notify-drawer {
  width: 300px !important;
  z-index: 1001;
}

.list-notify-right-app {
  .notificaCard-laterale {
    padding: 20px;
    border-bottom: 1px solid $gray-500;

    .subtitle-date-vuetify {
      @include font-size(13px);
      margin-top: 5px;
      color: $black !important;
    }
  }

  .vedi-tutte {
    .link-seeAll {
      color: $blu-btn;
      font-weight: 700;
      @include font-size(14px);

      @media #{map-get($display-breakpoints, 'md-and-up')} {
        @include font-size(16px);
      }
    }
  }
}

.titolo-menu {
  margin-top: 10px;
  margin-bottom: -5px;
  .v-btn{
    color: #006cb4;
    text-transform: none;
    font-size: 23px;
  }
}