$gray-600:  #e5e5e5;
$gray-500:   #f7f7f7;
$blue:     #005095;
$secondary-blue: #005095;
$light-blue: #01B5EA;
$light-blue-light:#DAEEF6;
$blue-hover:#114172;
$yellow:    #ffdf5e;
$yellow-light: #FDFAE7;
$black: #000;
$red-header: #B81819;
$red: #DE3A33;
$red-light:#F1DDDE;
$green: #1A9B73;
$green-light:#E8F5F1;
$white: #FFFFFF;
$blue-dark: #1844A8;

$light-dark: #2E2E2EDE;
$blue-link:#178CD6;

$box-shadow: #eaeaea;
$box-shadow-hover: #CECBCB;
$background-app: #F0F3F8;
$alert-background: #F1DDDD;
$background-wizardstep: #939393;

//$primary: $yellow;
$primary: #006cb4;
$secondary: $blue;
$tertiary: $gray-600;
$quaternary: $gray-500;

// Grid breakpoints
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: ();
// stylelint-disable-next-line scss/dollar-variable-default
$grid-breakpoints: map-merge(
  (
    xs:   0,
    sm:   576px,
    md:   768px,
    lg:   992px,
    xl:   1200px,
    xxl:   1440px
  ),
  $grid-breakpoints
);

// Grid containers
/// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: ();
// stylelint-disable-next-line scss/dollar-variable-default
$container-max-widths: map-merge(
  (
    sm:   540px,
    md:   720px,
    lg:   960px,
    xl:   1140px,
    xxl:  1440px
  ),
  $container-max-widths
);

// Grid columns
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width: 16px;

//per richiamarli theme-color("footer-color");
$theme-colors: (
  "footer-color": #0d47a1,
  "pre-footer-color": $secondary-blue,
  "primary-color": #005ca9,
  "bullet-color": #213366,
  "sf-color": #eee,
  "success": $green,
  "warning": #FDFAE7,
  //"danger": #F1DDDE,
  "danger": $red,
  "info": $light-blue,
  "tertiary": $tertiary,
  "dark": $black
);

  
  $spacer: 1rem;
  $spacers: ();
  $spacers: map-merge((
    0: 0,
    1: ($spacer * .5),       // 8px
    2: ($spacer * .75),     // 12px
    3: $spacer,             // 16px
    4: ($spacer * 1.125),   // 18px
    5: ($spacer * 1.25),    // 20px
    6: ($spacer * 1.875),   // 30px
    7: ($spacer * 2.5),     // 40px
    8: ($spacer * 3.125),   // 50px
    9: ($spacer * 3.75),    // 60px
    10: ($spacer * 4.375),  // 70px
    11: ($spacer * 5),      // 80px
    12: ($spacer * 5.625),  // 90px
    13: ($spacer * 6.25),   // 100px
    14: ($spacer * 7),      // 112px 
    15: ($spacer * 16.25),   // 260px 
    16: ($spacer * 10.625)   // 170px 
  ), $spacers);
  $space-default:2rem;
  