$gray-600:  #e5e5e5;
$gray-500:   #f7f7f7;
$blue:     #005095;
$secondary-blue: #005095;
$light-blue: #01B5EA;
$light-blue-light:#DAEEF6;
$blue-hover:#114172;
$yellow:    #ffdf5e;
$yellow-light: #FDFAE7;
$black: #000;
$red-header: #B81819;
$red: #DE3A33;
$red-vda: #BE0004;
$red-light:#F1DDDE;
$green: #1A9B73;
$green-light:#E8F5F1;
$white: #FFFFFF;
$orange: #FF7F00;
$blue-dark: #1844A8;

$blu-btn: #2297FC;

$light-dark: #2E2E2EDE;
$blue-link:#178CD6;

$box-shadow: #eaeaea;
$box-shadow-hover: #CECBCB;
$background-app: #F0F3F8;
$alert-background: #F1DDDD;
$background-wizardstep: #939393;

$blue-button: #0072E5;
$primary-blue: #006cb4;

//$primary: $yellow;
$primary: #006cb4;
$secondary: $blue;
$tertiary: $gray-600;
$quaternary: $gray-500;

// settings regione vda
@if $region == 'vda' {
  $primary: $red-vda;
  $secondary: $black;

}

// Grid breakpoints
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px !important;
  }
}

@media only screen and (min-width: 768px) {
  .container {
  max-width: 720px !important;
  }
}

@media only screen and (min-width: 992px) {
  .container {
  max-width: 960px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
  max-width: 1140px !important;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
  max-width: 1440px !important;
  }
}

// Grid columns
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width: 16px;

$footer-color: #0d47a1;
$pre-footer-color: $secondary-blue;
$primary-color: #005ca9;
$bullet-color: #213366;
$sf-color: #eee;
$success: $green;
$warning: #FDFAE7;
//danger: #F1DDDE;
$danger: $red;
$info: $light-blue;
$tertiary: $tertiary;
$dark: $black;

// valle d'aosta
$footer-color-vda: #2F3133;

$spacer: 1rem;

$space-0: 0;
$space-1: ($spacer * .5);       // 8px
$space-2: ($spacer * .75);     // 12px
$space-3: $spacer;     // 16px
$space-4: ($spacer * 1.125);   // 18px
$space-5: ($spacer * 1.25);   // 20px
$space-6: ($spacer * 1.875);   // 30px
$space-7: ($spacer * 2.5);     // 40px
$space-8: ($spacer * 3.125);   // 50px
$space-9: ($spacer * 3.75);    // 60px
$space-10: ($spacer * 4.375);  // 70px
$space-11: ($spacer * 5);      // 80px
$space-12: ($spacer * 5.625);  // 90px
$space-13: ($spacer * 6.25);   // 100px
$space-14: ($spacer * 7);      // 112px 
$space-15: ($spacer * 16.25);   // 260px 
$space-16: ($spacer * 10.625);   // 170px 
