@charset 'utf-8';
@import "import";

// ATTENZIONE: per far funzionare la customizzazione di vuetify mediante variabili
// il codice che segue deve essere riscritto utilizzando le variabili vuetify
// Per fare una prova di variabili custom di vuetify, commentare da qui alla fine del file.

body{
  @include font-size($font-size-standard);
  margin-bottom: $space-0;
  line-height:1.5;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  html {
    overflow:auto;
  }
  .header {
    #utilities {
      .bm-menu {
        left: -17px!important;
        .bm-item-list {
          padding-left: 17px!important;
        }
      }
    } 
  }
}
#footer{
  @media all and ( max-width:554px ){
    .ps_first-footer{
      order: 1;
    }

    .ps_menu-footer{
      order: 2;
    }
    .ps_last-footer{
      order: 3;
    }
  }
  @media all and ( min-width:555px ) and (max-width:991px){
    .ps_first-footer{
      order: 1;
    }

    .ps_menu-footer{
      order: 3;
    }
    .ps_last-footer{
      order: 2;
    }
  }
}

// NUOVO ACCORDION
.numberBadge{
  padding: 5px 13px;
  border-radius: 50px;
  background-color: $secondary;
  @include font-size(20px);
  font-weight:$font-weight-semibold; 
  color:$quaternary;
  min-width: 60px;
}
.accordion{
  .card{
    .card-header{
      @media (max-width: 767.98px){
        text-align: center;
      }
      a[aria-controls]{
        @include setLinkSelectorStyle{
          min-width:auto;
        }
        // @extend .px-3;
        // @extend .px-lg-6;
        // @extend .py-2;
        padding: $space-0;
        border:0 none;
        min-width:auto;
        // @extend .h1;
        
        &.collapsed{
          i{
            transform: rotate(180deg);
          }
        }
       
      }
      
    }
  }
  
}

// fine NUOVO ACCORDION


// modifiche per pagorate
.noAccordion {
  .card{
    .card-header{
      @media (max-width: 767.98px){
        text-align: center;
      }
      a[aria-controls]{
        @include setLinkSelectorStyle{
          min-width:auto;
        }
        // @extend .px-3;
        // @extend .px-lg-6;
        // @extend .py-2;
        padding: $space-0;
        border:0 none;
        min-width:auto;
        // @extend .h1;
      }
      .numberBadge{
        padding: 10px 15px;
        border-radius: 50px;
        background-color: $secondary;
         @extend .rfs-30;
        font-weight:$font-weight-semibold; 
        color:$quaternary;
        min-width: 60px;
      }
      .custom-control-label{
        &::before, &::after {
          top: calc(50% - 6px);
        }
      }
    }
  }
}

// fine modifiche pago rate



.box-inner.active{
  .arrow::after{
    content: "\f077";
  }
}
.cardTotale {
  background-color: $secondary;
  padding: $space-6;
  .costoTotale {
    @extend .h1;
    color:$sf-color;
    margin-bottom: $space-0;
    font-weight: $font-weight-semibold;
    @include font-size(22px);
  }
  @media (min-width: 576px){
    text-align: right;
  }
}


// WIZARD 

.sp-wizard{

  &.v-stepper, .v-stepper__header {
    box-shadow: none!important;
  }

  .v-stepper__label {
    font-size: 14px;
    text-align: center!important;
    max-width: 100px;
  }
  
  text-align: center!important;
  margin-left: auto;
  margin-right: auto;
  li {
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 1.9em;
    border-radius: 1em;
    background: $white;
    border-style: solid;
    border-width: 2px;
    border-color: $secondary;
    color: $secondary;
    
    display: inline-block!important;
    position: relative;
    
    padding-top: $space-0;
    padding-bottom: $space-0;
    &:first-child{
      margin-top: $space-0;
    }
    .step{
      font-style: normal;
    }
    span{
      position:absolute;
      bottom:-.8em;
      color:$secondary;
      left:50%;
      transform:translate(-50%, 100%);
      line-height:1;
      @media (max-width: 767.98px){
        @include font-size(10px)
      }
    }
  }
  
  li::before{
    content: '';
    position: absolute;
    top: .9em;
    height: .2em;
    background: $secondary;
    z-index: -1;
    @media (max-width: 767.98px){
      width: 2em;
      left:-2.2em;
    }
  }

  li:not(.active)::after{
    content: "\f00c";
    font-family: 'Font Awesome\ 5 Free';
		font-weight: 900;
    @media (max-width: 767.98px){
      width: 2em;
      left:-2.2em;
    }
  }

  
  li:not(.active) .step{
    display:none;
  }
  

  .active ~ li::after{
    content:"";
  }
  
  li:first-child::before {
    display: none;
  }
  
  .active {
    background: $secondary;
    color:$white;
  }
  
  .active ~ li {
    background: $white;
    border-style: solid;
    border-width: 2px;
    border-color: $secondary;
    color: $secondary;
    .step{
      display:inline;
     
    }
  }
  
  .active ~ li::before {
    background: $secondary;
  }
  &.five-steps{
    li{
      &:before{
        left: -7em;
        width: 7em;
        @media (max-width: 767.98px){
          width: 3em;
          left:-3em;
        }
      }
    }
    
  }
  &.four-steps{
    li{
      &:before{
        left: -7em;
        width: 7em;
        @media (max-width: 767.98px){
          width: 3em;
          left:-3em;
        }
      }
    }
    
  }
}


.sp-Subwizard {
  margin-bottom: $space-9;
  display: flex;
    li {
      width: 30%;
      height: 0.5em;
      background-color: $green;
      border-style: solid;
      border-width: 2px;
      border-color: $green;
      margin-right: auto;
      margin-left: auto;

      // &:first-child{
      //   margin-top: $space-3;
      // }

      span {
        display: none;
      }

      &.active {

        background-color: $green;
        border-style: solid;
        border-width: 2px;
        border-color: $green;

        span {

          color: $black;
          min-width: 200px;

          display: block;

        }
      }

      &:not(.active)::after, &::before{
        display: none;
      }
      &.active ~ li{
        background-color: $secondary;
        border-style: solid;
        border-width: 2px;
        border-color: $secondary;
      }
    }
}

.accordionAddItemsBtn{
  .collapsed > .when-opened,
  :not(.collapsed) > .when-closed {
    display: none;
  }
  .collapsed > .when-closed,
  :not(.collapsed) > .when-opened {
    position: absolute; 
  }
}
.streamCamera, .canvasCamera {
  width: 100%;
  height: auto;
}

.boxAllegati {
  @media (max-width: 767.98px){
    .inputAttach {
      order: 0;
    }

    .takePhoto {
      order: 2;
    }

    .listAttach {
      order: 1;
      margin-bottom: 3.75rem;
    }
  
  }
}

.mb-4.mb-sm-0.checkboxRecap::before {
  content: "\f14a";
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  color: $secondary;
  opacity: .4;
}

.text-descrizione-servizio {
  @include font-size(16px);
}

.card-view-page.v-card {
  padding-top: 60px;
  padding-bottom: 80px;
}

@media all and (max-width: 770px) {
  .card-view-page.v-card {
    margin-bottom: 80px;
  }  
}
